<!DOCTYPE html>
<meta charset="utf-8">
<html>

	<title>Go Web App</title>
	</head>

	<body>
		<h1>Hello, {{.User.Login}}</h1>
		<p>Here are your Mutuals</p>
		<ul>
			{{range .Mutuals}}
			<li><a href={{.HTMLURL}}>{{.Username}}</a></li>
			{{end}}
		</ul>
		<p>Here are your Followers that don't follow you</p>
		<ul>
			{{range .TheyDontFollow}}
			<li><a href={{.HTMLURL}}>{{.Username}}</a></li>
			{{end}}
		</ul>
		<p>Here are your Following you don't follow</p>
		<ul>
			{{range .IDontFollow}}
			<li><a href={{.HTMLURL}}>{{.Username}}</a></li>
			{{end}}
	</body>

</html>