<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="https://unpkg.com/htmx.org@1.9.6"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
		<title>gfStat</title>
	</head>


	<body class="container">
		<nav>
			<ul>
				<li><kbd><a href="/">GitHub Follow Statistics</a></kbd></li>
			</ul>
			<ul>
				<li><a href="https://github.com/JammUtkarsh/gfstat" target="_blank">★ me on GitHub</a></li>
			</ul>
		</nav>
		<header>
			<p>Looks like something went wrong</p>
			<p><b>Error:</b> <i>{{.Err}}</i></p>
			<p><a href="/">Go back</a></p>
		</header>
		<footer>
			<p><i>PS: This app is still under development. There might be a few breaking changes once in a while.
					<br>Feel free to create an issue <a href="https://github.com/JammUtkarsh/gfstat/issues">here</a> for
					any feature or bug reports!
				</i></p>
			<hr>
			Built with <a href="https://golang.org/">Go</a>, <a href="https://picocss.com/">Pico.css</a> and <a
				href="https://htmx.org/">HTMX</a>
			<br>
			<i>By <a href="https://utkarshchourasia.in/">Utkarsh Chourasia</a></i>
		</footer>
	</body>

</html>