<!DOCTYPE html>
<meta charset="utf-8">
<html>

<head>
</head>

<body>
	<p>Well, hello there!</p>
	<p>We're going to now talk to the GitHub API. Ready? <a href="https://github.com/login/oauth/authorize?scope=user:follow&read:user&client_id={{.ClientID}}">Click here</a> to begin!</a></p>
	
</body>

</html>